<?xml version="1.0"?>
<launch>
    
  <arg name="robot_name" default="iiwa"/>
  <!-- Model of the iiwa to use : iiwa7, iiwa14 -->
  <arg name="model" default="iiwa14"/>
  <arg name="debug" default="false"/>

  <node name="gripper_command" pkg="gripper_command" type="gripper_command" respawn="false" output="screen">
    <remap from="output" to="/robotiq_s_model_gripper_node/output" />
    <remap from="input" to="/robotiq_s_model_gripper_node/input" />      
  </node>

</launch>
